<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rollncode.clicker">
    
    <uses-feature android:name="android.hardware.type.watch"/>
    
    <application tools:ignore="GoogleAppIndexingWarning">
        
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>
    </application>
</manifest>